.navbar__header {
    height: 90px;
    padding: 12px 30px;
    text-transform: uppercase;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1001;
    img {
        margin-right: 5px;
        display: block;
        width: 100%;
    }
        .nav__links__items {
            padding: 15px;
            font-weight: 700;

        }
        .input {
            border-radius: 40px;
            border: none;
            width: 220px;
            height: 40px;
            box-shadow: none;
            background-color: #f6f6f6;
          }
          .input__group {
            background-color: #f6f6f6;
            border: none;
            border-radius: 40px;
            box-shadow: none;
            i {
                opacity: 60%;
            }     
    }
    .nav__links__icons {
        padding-left:  15px;
        font-size: 16px;
    }
      
  }